doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic", rel="stylesheet")
    link(href='index.css', rel='stylesheet')

  body
    .rate_table
      .rate_table__median.rate_table__median--first
        .rate_table__title В среднем за 12 недель        
        .rate_table__col.rate_table__col-place Место
        .rate_table__col.rate_table__col-title Пиццерия
        .rate_table__col.rate_table__col-rate Рейтинг
        .rate_table__delim

      .rate_table__last.rate_table__median--first
        .rate_table__title На прошлой неделе, 11-17 июля
        .rate_table__col.rate_table__col-quality Качество,
        .rate_table__col.rate_table__col-service сервис,
        .rate_table__col.rate_table__col-cleaning чистота        
        .rate_table__col.rate_table__col-graph 12 нед.        
        .rate_table__col.rate_table__col-last_rate рейтинг        
        .rate_table__col.rate_table__col-problems Проблемы       
        .rate_table__delim
